export(pristinedna)

importFrom(dplyr, filter, mutate, left_join, select, transmute, coalesce)
importFrom(utils, head, tail, zip, unzip)
importFrom(countrycode, countrycode)
importFrom(measurements, conv_unit)
importFrom(readxl, read_excel)
importFrom(readr, read_tsv, write_tsv)  # <- Added write_tsv
importFrom(stringr, str_detect, str_replace, str_trim)
importFrom(Biostrings, readDNAStringSet)
importFrom(reshape2, melt)
importFrom(purrr, map)
importFrom(XML, newXMLNode, saveXML)
importFrom(zip, zipr)
import(magrittr)